*.pyc
*.gz
.vscode
.DS_Store
__pycache__

logs
dataset/
outputFiles/

#AST-NN
src/ast_nn/dataset/
src/ast_nn/models/

#AST-Probe
src/ast_probe/dataset
src/ast_probe/grammars

#CodeSumDRL
src/code_sum_drl/dataset
src/code_sum_drl/models
src/code_sum_drl/dataset.zip

#CSCGDual
src/cscg_dual/dataset

#FuncGNN
src/funcgnn/dataset
src/funcgnn/models

#Summarization-TF
src/summarization_tf/dataset
src/summarization_tf/models_from_halcon

#Probe Models
src/probe_models