*.pyc
*.gz
.vscode
__pycache__
dataset
.DS_Store
logs
grammars
trained_models
embeddings
outputFiles
src/summarization_tf/dataset
src/summarization_tf/parser
/Users/ahura/Nexus/Leto/runs
runs/
src/summarization_tf/checkpoints/*
models
dataset.zip